In [20]:
import numpy as np
import pandas as pd

In [21]:
data = pd.read_csv("Admission_Predict.csv")
data["cons"] = 1
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,cons
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1
1,2,324,107,4,4.0,4.5,8.87,1,0.76,1
2,3,316,104,3,3.0,3.5,8.00,1,0.72,1
3,4,322,110,3,3.5,2.5,8.67,1,0.80,1
4,5,314,103,2,2.0,3.0,8.21,0,0.65,1

In [22]:
X = data[['cons','GRE Score','TOEFL Score','CGPA','SOP','Research' ]].to_numpy()
y = data['Chance of Admit '].to_numpy()

In [23]:
data['CGPA_2'] = data['CGPA'] ** 2

In [24]:
print(X.shape)
print(y.shape)

(400, 6)
(400,)

In [25]:
m, n = X.shape

### Estandarizacion de la data

In [26]:
from sklearn.preprocessing import StandardScaler
SdScaler = StandardScaler()

In [27]:
X2 = SdScaler.fit_transform(X)

### Funciones de Costos

In [28]:
def linear_cost(X, y, theta): 
    h = X @ theta
    return ((y-h)**2).sum() / (2 * len(X))

def linear_cost_gradient(X, y, theta, lambda_p = 10): 
    h = X @ theta
    lambda_f = (lambda_p/(2*len(X))) * (theta**2).sum()
    return (X.T @ (h-y))/ len(X) + lambda_f

def gradient_descent(
X,y,theta_0,linear_cost,linear_cost_gradient,
    learning_rate = 0.0001, threshold=0.001, max_iter=10000,lambda_p = 10): 
    
    theta = theta_0
    iteration = 0 
    costs = []
    thetas = []
    
    while np.linalg.norm(linear_cost_gradient(X,y,theta)) > threshold and iteration < max_iter:
        iteration += 1 
        theta = theta - (learning_rate * linear_cost_gradient(X,y,theta) + lambda_p * theta)
        costs.append(linear_cost(X,y,theta))
        thetas.append(theta.copy())
        
    return theta, costs, thetas

In [29]:
theta_0 = np.random.rand(n, 1)

In [32]:
np.random.shuffle(X2)
np.random.shuffle(y)

### Split Dataset
X_train = X2[:200]
X_cv = X2[201:300]
X_test = X2[301:400]

y_train = y[:200]
y_cv = y[201:300]
y_test = y[301:400]

In [35]:
theta2, costs2, thetas2 = gradient_descent(X_train,y_train,theta_0,linear_cost,linear_cost_gradient,0.0000001,0.0001,10000,0)